{% extends "layout.html" %}
{% block body %}
<h1>Create Team</h1>
<form action="/confirm" method="post">
    Team Name: <input type="text" name="teamName" placeholder="Your team's name"><br>
    Member1: <input type="text" name="user1" placeholder="member1 name"><br>
    Member2: <input type="text" name="user2" placeholder="member2 name"><br>
    Member3: <input type="text" name="user3" placeholder="member3 name"><br>
    Member4: <input type="text" name="user4" placeholder="member4 name"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}