{% extends "layout.html" %}
{% block body %}
<div class="row justify-content-md-center">
    <h1>Create Team</h1>
</div>
<div class="container"></div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 order-md-1">
            <form action="/confirm" method="post">
                <div class="mb-3">
                    <label for="teamName">ชื่อทีม</label>
                    <input type="text" class="form-control" id="teamName" placeholder="icmmการวิ่ง" required="">
                    <div class="invalid-feedback">
                    กรุณากรอกชื่อทีม
                    </div>
                </div>
                <h4 class="mb-3">นักวิ่งคนที่ 1</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <label for="firstName">ชื่อ</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="lastName">นามสกุล</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                    </div>
                </div>
                Team Name: <input type="text" class="form-control" name="teamName" placeholder="Your team's name" id="teamName" required>
                <label for="teamName" >Status
                    <span class="text-muted" id="teamStatus"></span>
                </label>
                <br>
                
                Member1: <input type="text" class="form-control" name="user1" placeholder="member1 name" id="user1Name" required>
                <label for="user1Name" >Status
                        <span class="text-muted" id="user1Status"></span>
                </label>
                <br>

                Member2: <input type="text" class="form-control" name="user2" placeholder="member2 name" id="user2Name" required>
                <label for="user2Name" >Status
                    <span class="text-muted" id="user2Status"></span>
                </label>
                <br>

                Member3: <input type="text" class="form-control" name="user3" placeholder="member3 name" id="user3Name" required>
                <label for="user3Name" >Status
                        <span class="text-muted" id="user3Status"></span>
                </label>
                <br>

                Member4: <input type="text" class="form-control" name="user4" placeholder="member4 name" id="user4Name" required>
                <label for="user4Name" >Status
                        <span class="text-muted" id="user4Status"></span>
                </label>
                <br>

                <label>Result
                    <span class="text-muted" id="checkResult"></span>
                </label>

                <button type="button" id="checkButton">Check</button>
                <button type="submit"id="submitButton" value="Submit" disabled>Submit</button>
                <button type="reset" value="Reset">Reset</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        var updateStatus = function(teamStatus, user1Status, user2Status, user3Status, user4Status){
            $("#teamStatus").text(teamStatus);
            $("#user1Status").text(user1Status);
            $("#user2Status").text(user2Status);
            $("#user3Status").text(user3Status);
            $("#user4Status").text(user4Status);
        };

        $("input").change(function(){
            // If any input is changed, disable the submit button.
            $(':input[type="submit"]').prop('disabled', true);
        })
        $("#checkButton").click(function(){
            var teamName = $("#teamName").val()
            var user1Name = $("#user1Name").val();
            var user2Name = $("#user2Name").val();
            var user3Name = $("#user3Name").val();
            var user4Name = $("#user4Name").val();

            data = {
                "teamName": teamName,
                "user1": user1Name,
                "user2": user2Name,
                "user3": user3Name,
                "user4": user4Name
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/api/check",
                data: JSON.stringify(data),
                success: function(res){
                    if(res.success){
                        // Enable submit button.
                        $(':input[type="submit"]').prop('disabled', false);
                        $("#checkResult").text("Okay");
                        updateStatus(res.teamName,res.member1,res.member2,res.member3,res.member4)
                    }else{
                        alert("Team is not valid!");
                        $("#checkResult").text("Not valid");
                        updateStatus(res.teamName,res.member1,res.member2,res.member3,res.member4)
                    }
                }
            });
        });
    });
</script>
{% endblock %}