{% extends "layout.html" %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-6">รายละเอียดการรับสมัคร</h1>
    <p>1. ในหนึ่งทีมจะประกอบไปด้วยสมาชิกทั้งหมด 4 คน โดยต้องมีสมาชิกอย่างน้อย 2 คนขึ้นไป ที่ "ไม่เคย" วิ่ง mini-marathon(ระยะ 10km) เลย</p>
    <p>2. การเข้าร่วมกิจกรรมแบบทีม จะต้องเข้าเส้นชัยพร้อมกัน โดยทีมงานจะตรวจสอบที่หน้าเส้นชัยหรือนับเวลาจาก chip time</p>
    <p>3. ผู้เข้าร่วมกิจกรรมทีมจะได้รับบิบพิเศษเป็นแบบทีม</p>
    <p>4. การปล่อยตัว จะปล่อยตามบล็อกร่วมกับการวิ่งแบบปกติ โดยการลงบล็อกจะคิดจากเวลาของคนที่ช้าสุดที่เคยวิ่งมินิฯ ในทีม</p>
    <p>5. ผู้ร่วมกิจกรรมแบบทีมจะได้รับของที่ระลึกเพิ่มเติม จากที่จะได้รับจากการวิ่งปกติ</p>
    <p>*หมายเหตุ เพื่อนๆ สามารถหาสามาชิกมารวมกลุ่มได้ที่ใต้ comment</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 order-md-1">
            <h1>สร้างทีม</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 order-md-1">
            <form action="/confirm" method="post">
                <div class="mb-3">
                    <h4 for="teamName">ชื่อทีม</h4>
                    <span class="text-muted" id="teamStatus"></span>
                    <input type="text" class="form-control" id="teamName" name="teamName" placeholder="icmmการวิ่ง" required="">
                    <div class="invalid-feedback">
                    กรุณากรอกชื่อทีม
                    </div>
                </div>
                <!-- RUNNER 1 -->
                <h4 class="mb-3">นักวิ่งคนที่ 1 <span class="text-muted" id="user1Status"></span></h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <label for="r1FirsttName">ชื่อ</label>
                    <input type="text" class="form-control" id="r1FirstName" name="r1FirstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกชื่อนักวิ่ง
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="r1LastName">นามสกุล</label>
                    <input type="text" class="form-control" id="r1LastName" name="r1LastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกนามสกุลนักวิ่ง
                    </div>
                    </div>
                </div>
                <!-- RUNNER 2 -->
                <h4 class="mb-3">นักวิ่งคนที่ 2 <span class="text-muted" id="user2Status"></span></h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <label for="r2FirsttName">ชื่อ</label>
                    <input type="text" class="form-control" id="r2FirstName" name="r2FirstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกชื่อนักวิ่ง
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="r2LastName">นามสกุล</label>
                    <input type="text" class="form-control" id="r2LastName" name="r2LastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกนามสกุลนักวิ่ง
                    </div>
                    </div>
                </div>
                <!-- RUNNER 3 -->
                <h4 class="mb-3">นักวิ่งคนที่ 3 <span class="text-muted" id="user3Status"></span></h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <label for="r3FirsttName">ชื่อ</label>
                    <input type="text" class="form-control" id="r3FirstName" name="r3FirstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกชื่อนักวิ่ง
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="r3LastName">นามสกุล</label>
                    <input type="text" class="form-control" id="r3LastName" name="r3LastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกนามสกุลนักวิ่ง
                    </div>
                    </div>
                </div>
                <!-- RUNNER 4 -->
                <h4 class="mb-3">นักวิ่งคนที่ 4 <span class="text-muted" id="user4Status"></span></h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                    <label for="r4FirsttName">ชื่อ</label>
                    <input type="text" class="form-control" id="r4FirstName" name="r4FirstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกชื่อนักวิ่ง
                    </div>
                    </div>
                    <div class="col-md-6 mb-3">
                    <label for="r4LastName">นามสกุล</label>
                    <input type="text" class="form-control" id="r4LastName" name="r4LastName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        กรุณากรอกนามสกุลนักวิ่ง
                    </div>
                    </div>
                </div>

                <label>Result
                    <span class="text-muted" id="checkResult"></span>
                </label>

                <button type="reset" class="btn btn-danger float-right" value="Reset">Reset</button>
                <button type="submit" class="btn btn-primary float-right" id="submitButton" value="Submit" disabled>Submit</button>
                <button type="button" class="btn btn-info float-right" id="checkButton">Check</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        var updateStatus = function(teamStatus, user1Status, user2Status, user3Status, user4Status){
            $("#teamStatus").text(teamStatus);
            $("#user1Status").text(user1Status);
            $("#user2Status").text(user2Status);
            $("#user3Status").text(user3Status);
            $("#user4Status").text(user4Status);
        };

        $("input").change(function(){
            // If any input is changed, disable the submit button.
            $(':input[type="submit"]').prop('disabled', true);
        })
        $("#checkButton").click(function(){
            var teamName = $("#teamName").val()
            data = {
                "teamName": teamName,
                "user1": {
                    "firstname" : $("#r1FirstName").val(),
                    "lastname" : $("#r1LastName").val()
                },
                "user2": {
                    "firstname" : $("#r2FirstName").val(),
                    "lastname" : $("#r2LastName").val()
                },
                "user3": {
                    "firstname" : $("#r3FirstName").val(),
                    "lastname" : $("#r3LastName").val()
                },
                "user4": {
                    "firstname" : $("#r4FirstName").val(),
                    "lastname" : $("#r4LastName").val()
                },
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: "/api/check",
                data: JSON.stringify(data),
                success: function(res){
                    if(res.success){
                        // Enable submit button.
                        $(':input[type="submit"]').prop('disabled', false);
                        $("#checkResult").text("Okay");
                        updateStatus(res.teamName,res.member1,res.member2,res.member3,res.member4)
                    }else{
                        alert("Team is not valid!");
                        $("#checkResult").text("Not valid");
                        updateStatus(res.teamName,res.member1,res.member2,res.member3,res.member4)
                    }
                }
            });
        });
    });
</script>
{% endblock %}